#emg, #emg2, #emg3 {
  width: 950px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 123%
}

#emg table, #emg2 table, #emg3 table {
  margin: 0 auto;
  text-align: left
}

#emg br, #emg2 br, #emg3 br {
  display: none
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: small;
  background-color: #fff
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, p, blockquote, fieldset, div {
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal
}

ul li, ol li {
  list-style: none
}

table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0
}

caption {
  text-align: left
}

table, pre, code, select, input, textarea, kbd, var, ins, del, samp {
  font-size: 100%
}

address, em, cite, dfn, var, th, ins, del, samp {
  font-weight: normal;
  font-style: normal
}

fieldset {
  border: none
}

legend {
  display: none
}

select, input, textarea {
  font: 99% arial, sans-serif
}

img {
  vertical-align: middle
}

[class*="data-ios"] {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}

a img {
  border: 0
}

a:link {
  color: #0000de
}

a:visited {
  color: #941d55
}

a:active {
  color: #639
}

.yj-guid, .yj-skip {
  position: absolute;
  left: -999px;
  width: 999px
}

.cf, .uWrap {
  *zoom: 1
}

.cf:after, .uWrap:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden
}

.separation {
  display: none
}

.bo {
  font-weight: bold
}

.cl {
  max-width: 587px
}

.unit {
  display: inline;
  float: left
}

.size1of1 {
  width: 100%
}

.size1of2 {
  width: 50%
}

.size1of3 {
  width: 32%
}

.size2of3 {
  width: 68%;
  *width: 67%;
  _width: 66%
}

.lcSize180 {
  width: 180px;
  float: left
}

.rcSize100per {
  width: 100%;
  float: left;
  margin-right: -180px
}

.rcSize100per #mIn {
  margin-right: 180px;
  padding: 0 0 0 10px
}

.lcSize100per {
  float: left;
  width: 100%;
  margin-right: -196px
}

.lcSize100per #mIn {
  padding: 0 206px 0 10px
}

.rcSize186 {
  float: left;
  width: 186px
}

.lcSize250 {
  position: relative;
  z-index: 102;
  width: 250px;
  margin-right: -250px
}

.rcSize300 {
  width: 300px;
  margin-left: -300px
}

.mcSize400 {
  padding-left: 260px;
  padding-right: 310px
}

.mcSize638 {
  padding-right: 310px
}

#mIn {
  padding: 0 20px 0 10px;
  border-top: 1px solid #fff
}

#sIn {
  width: 265px
}

#wrapper {
  margin: 0 auto;
  text-align: left;
  line-height: 1.22
}

#header {
  position: relative;
  z-index: 3000
}

#yschalert.msg {
  width: 500px;
  margin: 10px auto;
  background-color: #fff;
  word-break: break-all;
  word-wrap: break-word
}

#yschalert.frame {
  padding: 6px 5px 6px 3px
}

#SaA .gLnk .lnk .set, .searchForm .b, .searchForm-opt a, #sbnClearBtn, #sbsClearBtn, #naviAssist dt, #Sf2 .loginStats .tpoint, #Sf2 .loginStats .ypoint, #Sf2 .loginStats .tpoint2, #Sf2 .loginStats .coupon, .msg .h, #SaB span, #srchAssistOnOff dd, .msg dt, .msg .arr, #Si1 dt, #Si2 dt, .ss .ic, .sort span, .view .ic1, .view .ic2, .view .ic3 {
  background-image: url(https://s.yimg.jp/images/serp/s/sp_s_7.png);
  background-repeat: no-repeat
}

.msg .f dt {
  *background-image: url(https://s.yimg.jp/images/serp/s/sp_s_2.png)
}

#Sf2 .ssp {
  background-image: url(https://s.yimg.jp/images/serp/s/sp_ssprank_16.png);
  background-repeat: no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio :1.1), only screen and (min-device-pixel-ratio :1.1) {
  #SaA .gLnk .lnk .set, .searchForm .b, .searchForm-opt a, #sbnClearBtn, #sbsClearBtn, #naviAssist dt, #SaB[title*="JAPAN"] span, #srchAssistOnOff dd, .msg dl:not([class*="f"]) dt, .msg .arr, #Si1 dt, #Si2 dt, .ss .ic, .ss .ft .arr, .sort span, .view .ic1, .view .ic2, .view .ic3 {
    background-image: url(https://s.yimg.jp/images/serp/s/sp_s_6_2x.png);
    -webkit-background-size: 141px 386px;
    background-size: 141px 386px;
    background-repeat: no-repeat
  }
}

#header {
  min-width: 970px;
  margin-bottom: 10px
}

#header {
  background-color: #fff
}

#contents, #SaA-dtl, #ygma, #Se, #Sq .inner, #Sf {
  width: 950px;
  margin: 0 auto
}

#SaA {
  position: relative;
  margin-bottom: 8px;
  padding: 0;
  color: #444;
  text-align: right
}

#SaA {
  border-top: 5px solid #ccc
}

#SaA, #SaA-dtl {
  min-height: 25px;
  _height: 25px;
  z-index: 256
}

#SaA a, #SaA a:visited {
  color: #444
}

#SaA-tg {
  position: relative;
  padding-left: 26px;
  float: left
}

#SaA-tg-list {
  _float: left
}

#SaA-tg-list li {
  float: left
}

#SaA-tg-list .menuLink {
  position: relative;
  padding-right: 20px
}

#SaA-tg-list strong, #SaA-tg-list a {
  display: block;
  padding: 5px 8px;
  text-decoration: none
}

#SaA-tg-list strong {
  border-top: 5px solid #888
}

#SaA-tg-list strong {
  margin-top: -5px;
  _margin-top: 0;
  _padding-top: 2px
}

#SaA-tg-list a:hover, #SaA-tg-list .open {
  background-color: #eee;
  text-decoration: underline
}

#vmMenu.menu {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  right: 0;
  top: 1.8em;
  width: 8.1em;
  line-height: 1.3;
  text-align: left;
  z-index: 1
}

#vmMenu.menu {
  _right: -7em
}

#vmMenu.menu ul {
  border-right: 1px solid #889aa7;
  border-bottom: 1px solid #889aa7;
  margin: 0;
  padding: 6px 1px
}

#vmMenu.menu li {
  _zoom: 1
}

#vmMenu.menu .end {
  border-bottom: 1px dotted #889aa7;
  margin-bottom: 5px;
  padding-bottom: 5px
}

#vmMenu.menu a {
  display: block;
  height: auto;
  _width: 100%;
  padding: 2px 8px;
  color: #444;
  font-size: 92%;
  text-decoration: none
}

#vmMenu.menu a:hover {
  background: #1d3994;
  color: #fff
}

#SaA .gLnk {
  position: relative;
  float: right;
  text-align: left
}

#SaA .gLnk .lnk {
  float: left
}

#SaA .gLnk .lnk li {
  float: left
}

#SaA .gLnk .lnk .set {
  background-position: 6px -11px;
  background-repeat: no-repeat;
  padding-left: 22px
}

#SaA .gLnk .lnk a {
  display: block;
  height: 21px;
  padding: 8px 7px 0;
  font-size: 92%;
  color: #444;
  text-decoration: none;
  _float: left
}

#SaA .gLnk .lnk a:hover {
  background-color: #eee;
  text-decoration: underline
}

#SaA-tg .menuLink span {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 11px;
  right: 4px;
  text-indent: -9999px;
  color: #f9f9f9;
  cursor: pointer;
  width: 0;
  height: 0;
  border-color: #999 transparent;
  _border-color: #999 #f9f9f9;
  border-style: solid;
  border-width: 5px 5px 0 5px
}

#SaA-tg-list .jsOn span {
  display: block
}

#SaA-tg .open #arr {
  _border-color: #999 #eee;
  border-width: 0 5px 5px 5px;
  _border-width: 0 6px 6px 6px
}

#ygma {
  position: relative
}

#SaB {
  float: right;
  width: 134px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  margin-right: 7px
}

#SaB span {
  display: block;
  background-image: url(https://s.yimg.jp/images/mh/pc/jp/rd/1.0.0/yafuoku.png);
  background-position: 0 0;
  width: 134px;
  height: 30px;
  cursor: pointer
}

#SaC {
  display: inline;
  float: left;
  margin-left: 33px;
  min-height: 51px;
  _height: 51px;
  z-index: 255
}

#SaC fieldset {
  display: block;
  height: 28px;
  position: relative
}

#Sb_2 {
  clear: left;
  width: 440px;
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 1
}

#Sb_2.srchAssistOFF {
  display: none
}

#srchAssistBd {
  border: 1px solid #7c7c7c;
  background-color: #fff;
  *zoom: 1
}

#sugres li {
  display: block;
  line-height: 1;
  color: #000;
  padding: 4px 6px 5px;
  *padding: 4px;
  cursor: pointer;
  *zoom: 1
}

#sugres em {
  font-weight: bold
}

#sugres .active {
  background-color: #f0f0f0
}

#sugres li {
  border-top: 1px solid #ddd
}

#sugres .sugcategory span, #sugres .sugbrand span {
  font-size: 85%;
  margin-left: 10px
}

#sugres .sugcategory span {
  color: #ff8a15
}

#sugres .sugbrand span {
  color: #555
}

#sugres .sugevent span {
  vertical-align: middle;
  display: table-cell;
  *display: inline;
  *zoom: 1
}

#sugres .sugevent span:first-child {
  *float: left
}

#sugres .sugevent img {
  margin-right: 10px
}

#sugres li:first-child, #sugres li.sugunit+li.sugunit, #sugres li.sugproduct+li.sugproduct, #sugres li.sugcategory+li.sugcategory, #sugres li.sugbrand+li.sugbrand, #sugres li.sugevent+li.sugevent {
  border-top: none
}

#srchAssistTxt {
  padding: 3px 5px 3px 5px
}

#srchAssistOnOff {
  padding: 3px 8px 1px 0;
  white-space: nowrap;
  color: #555;
  font-size: 85%;
  text-align: right;
  background-color: #f7f7f7
}

#srchAssistOnOff dt {
  display: inline;
  line-height: 1
}

#srchAssistOnOff dd {
  display: inline;
  line-height: 1;
  padding-left: 13px;
  background-position: 3px -254px;
  _background-position: 3px -255px;
  font-weight: bold;
  color: #000;
  *zoom: 1
}

#srchAssistOnOff dd a {
  font-weight: normal;
  text-decoration: none
}

#srchAssistOnOff dd.first {
  background: none
}

#srchAssistClose, #srchacb {
  position: relative;
  display: block;
  width: 38px;
  height: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  line-height: 0;
  text-indent: -9999px
}

#srchacb {
  border: 1px solid transparent;
  _border: 1px solid #f9f9f9;
  border-top: 1px solid #999
}

#srchacb:hover {
  background-color: #f0f0f0;
  border: 1px solid #999;
  border-top: 1px solid #999
}

.on #srchacb {
  background-color: #999;
  border: 1px solid #666;
  border-top: 1px solid #999
}

#srchAssistClose span {
  position: absolute;
  display: block;
  top: 3px;
  left: 15px;
  width: 0;
  height: 0;
  border-color: #999 transparent;
  _border-color: #999 #f9f9f9;
  border-style: solid;
  border-width: 4px 4px 0 4px
}

#srchAssistClose.on span {
  border-color: #fff #999;
  border-width: 0 4px 4px 4px;
  _border-width: 0 5px 5px 5px;
  _top: 1px
}

.normalHeader {
  height: 46px
}

.normalHeader #SaB {
  display: inline;
  float: left;
  margin: 0 10px 0 33px
}

.normalHeader #SaC {
  margin-left: 0
}

#Sf2 {
  border-bottom: 1px solid #e7e7e7
}

#Sf2 .inner {
  width: 950px;
  min-height: 15px;
  margin: 0 auto;
  padding: 2px 8px 2px 0
}

#Sf2 .resultNum {
  float: left;
  padding-left: 36px;
  font-size: 92%;
  color: #666
}

#Sf2 .aboutAdd {
  float: left;
  padding-left: 36px;
  font-size: 92%;
  color: #666
}

#Sf2 .loginStats {
  float: right;
  font-size: 92%;
  color: #444
}

#Sf2 .loginStats a {
  border-bottom: 1px solid #999;
  color: #444;
  text-decoration: none
}

#Sf2 .s {
  margin: 0 3px
}

#Sf2 .resultNum .s {
  visibility: hidden
}

#Sf2 .inner {
  padding: 0 8px 3px 0;
  line-height: 1
}

#Sf2 .loginStats {
  float: left;
  padding-left: 36px;
  padding-top: 2px
}

#Sf2 .loginStats img {
  margin: 0 3px
}

#Sf2 .loginStats .tpoint {
  background-position: -18px -440px
}

#Sf2 .loginStats .ypoint {
  background-position: -36px -440px
}

#Sf2 .loginStats .tpoint2 {
  background-position: -92px -440px
}

#Sf2 .coupon {
  background-position: -110px -440px
}

#Sf2 .ssp, #Sf2 .ssp.noSSP {
  background-position: 0 0
}

#Sf2 .ssp.bronzeSSP {
  background-position: 0 -17px
}

#Sf2 .ssp.silverSSP {
  background-position: 0 -34px
}

#Sf2 .ssp.goldSSP {
  background-position: 0 -51px
}

#Sf2 .ssp.platinumSSP {
  background-position: 0 -68px
}

#Sf2 .ssp.diamondSSP {
  background-position: 0 -84px
}

#SaD {
  float: right;
  margin-top: 4px
}

#SaD a {
  margin-left: 10px;
  border-bottom: 1px solid #999;
  text-decoration: none;
  _text-decoration: underline;
  font-size: 92%;
  color: #444
}

#Sf {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #fff
}

#Sf .inner {
  width: 950px;
  min-height: 19px;
  line-height: 19px;
  margin: 0 auto;
  padding: 2px 8px 2px 0
}

#Sf .t {
  display: inline;
  float: left;
  margin-right: .5em;
  padding-left: 35px;
  font-size: 107%;
  font-weight: bold;
  color: #444
}

#Sf .resultNum {
  float: left;
  margin-right: 10px;
  padding-left: 36px;
  font-size: 92%;
  color: #333
}

#Sf em {
  font-weight: bold
}

#Sf .s, #Sf .s2 {
  margin: 0 3px
}

#Sf .resultNum .s {
  visibility: hidden
}

#Sf2 .resultNum, #Sf2 .loginStats, #Sf2 .loginStats a {
  color: #333
}

#Sf2 {
  border-bottom: none
}

#Sf2 .inner {
  border-bottom: 1px solid #f3a000;
  background-color: #eee
}

#Sf h1.t {
  display: none
}

#header.option #Sf h1.t {
  display: block
}

#Sf .inner {
  background-color: #feda6f
}

#Se {
  position: relative
}

#Se .inner {
  position: absolute;
  top: 5px;
  right: 10px
}

.ss {
  overflow: hidden;
  margin: 0 0 20px 0;
  padding-right: 5px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  *zoom: 1
}

#So1, #So2 {
  margin: 0 0 20px 15px
}

#So3 {
  padding-right: 0
}

.ss .hd {
  padding-top: 5px
}

.ss p.t {
  margin-bottom: 5px;
  font-size: 92%;
  font-weight: normal
}

.ss p.t a {
  color: #666;
  text-decoration: none
}

.ss p.t a:visited {
  color: #666
}

.ss p.t a:hover {
  color: #666;
  text-decoration: underline
}

.ss div.w {
  padding: 13px 0 8px;
  word-break: break-all;
  word-wrap: break-word
}

#So1 h3, #So2 h3, #So1 .bd p, #So2 .bd p {
  letter-spacing: .07em
}

.ss h3 .t {
  font-size: 123%
}

.ss .a {
  font-size: 108%;
  margin-top: 0;
  line-height: 1.6
}

.ss .x {
  font-size: 108%;
  margin-top: 4px;
  line-height: 1.6
}

.ss em {
  font-weight: bold
}

.ss .u {
  display: block;
  color: #008000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.ss .ft a {
  padding-left: 5px
}

.ss .ft .arr {
  float: left;
  _margin-right: 3px;
  overflow: hidden;
  text-indent: -9px;
  font-size: 0;
  position: relative;
  top: 3px;
  width: 0;
  height: 0;
  border-color: #fff #7c7d7d;
  border-style: solid;
  border-width: 4px 0 4px 4px
}

.ss .m {
  margin-bottom: 5px
}

.ss .ft .m2 {
  word-break: break-all;
  word-wrap: break-word;
  line-height: 1.3
}

.ss .s {
  color: #999;
  display: block;
  float: left;
  margin: 0 5px
}

#So1 .hd, #So2 .hd {
  float: right;
  width: 8.8em;
  text-align: right
}

#So1 .bd, #So2 .bd {
  margin-bottom: 6px;
  margin-top: 8px;
  padding-left: 8px
}

#So3, #So4 {
  border: none;
  background-color: #fff;
  overflow: hidden
}

#So3 {
  margin: 0 0 15px
}

#So3 .bd, #So4 .bd {
  margin-top: -8px
}

.ss .ic {
  float: left;
  width: 12px;
  height: 12px;
  margin-top: .3em;
  font-size: 12px;
  line-height: 1;
  text-indent: -9999px
}

.ss .st1 {
  line-height: 1.6
}

.ss .st1 a {
  float: left;
  text-decoration: none
}

.ss .st1 a:hover {
  text-decoration: underline
}

#So1 {
  margin: 0 0 10px 0
}

#So2 {
  margin-left: 0
}

.searchForm .sbox_1 {
  min-width: 650px
}

.searchForm .sbox_1 label {
  display: none
}

.searchForm .sbox_2 {
  float: left;
  width: 440px;
  margin-right: 5px
}

#yschsp, #yschsbp, #yschsp2, #yschsbp2 {
  width: 410px;
  font-size: 107.6923%;
  height: 24px;
  padding: 2px 24px 0 4px;
  border: 1px solid #999;
  border-top: 1px solid #7c7c7c;
  background-color: #fff;
  vertical-align: bottom;
  line-height: 1.3;
  border-radius: 0;
  text-indent: 2px
}

#yschsp, #yschsbp {
  float: left
}

#yschsp::-ms-clear, #yschsbp::-ms-clear {
  display: none
}

#mode, #bmode {
  float: right
}

.searchForm .pu {
  float: right;
  width: 102px;
  height: 26px;
  padding-right: 5px;
  border: 1px solid #999;
  *border: none
}

.searchForm .pu select {
  border: none;
  outline: none;
  width: 100%;
  vertical-align: top;
  margin-top: 4px
}

html:not([class*="data-win"]) .searchForm .pu {
  border: none
}

html:not([class*="data-win"]) .searchForm .pu select {
  margin-top: 0;
  border: 1px solid #333
}

.searchForm .b {
  float: left;
  width: 110px;
  height: 28px;
  line-height: 30px;
  *line-height: 29px;
  letter-spacing: .1em;
  padding: 0 0 0 16px;
  border: 0 solid #fff;
  border-radius: 0;
  background-position: 25px -32px;
  background-color: #4070ff;
  font-size: 108%;
  font-weight: bold;
  color: #fff;
  cursor: pointer
}

.searchForm .b:hover {
  background-color: #15e
}

.searchForm .b {
  background-position: 25px -182px;
  background-color: #ffc515;
  color: #000
}

.searchForm .b:hover {
  background-color: #ffb300
}

#sbnClearBtn, #sbsClearBtn {
  display: none;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  left: 412px;
  width: 18px;
  height: 18px;
  background-position: 0 -215px;
  background-repeat: no-repeat;
  cursor: pointer
}

#sbnClearBtn:hover, #sbsClearBtn:hover {
  background-position: -20px -215px
}

#yschsp, #yschsbp {
  width: 245px;
  margin-right: 5px
}

.searchForm .pu {
  width: 152px
}

#sbnClearBtn, #sbsClearBtn {
  left: 246px
}

.searchForm-opt {
  float: left;
  padding: 3px 0 0 6px
}

.searchForm-opt br {
  display: none
}

.searchForm-opt a, .searchForm-opt a:link, .searchForm-opt a:visited {
  display: block;
  padding: 3px 5px 3px 19px;
  background-position: 5px 5px;
  color: #444;
  font-size: 92%;
  text-decoration: none
}

.searchForm-opt a:hover {
  text-decoration: underline
}

#Sq .searchForm-opt {
  margin-top: -3px;
  _margin-top: 0;
  padding: 2px 0 0 8px
}

#Sq .searchForm-opt .pls {
  padding: 0 0 0 16px;
  background-position: 0 2px
}

#Sq .searchForm-opt .set {
  padding: 0 0 0 16px;
  background-position: 0 -19px
}

#Sq .searchForm-opt .pls:hover, #Sq .searchForm-opt .set:hover {
  text-decoration: underline
}

#Sq .searchForm-opt {
  margin-top: 4px
}

.searchForm-act {
  padding-top: 10px;
  font-size: 92%;
  _height: 1.4em;
  _overflow: hidden
}

.searchForm-act label {
  float: left;
  margin-right: 10px;
  _margin-right: 8px;
  line-height: 1;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer
}

.searchForm-act input {
  margin-right: 3px
}

.msg {
  margin-bottom: 15px;
  padding-left: 6px;
  min-width: 460px
}

.msg dt {
  display: inline;
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px 0 0 0;
  background-position: -45px -370px;
  text-indent: -9999px
}

.msg dd {
  margin-left: 16px
}

.msg .bull {
  *zoom: 1
}

.msg .bull:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden
}

.msg .bull dt {
  width: 12px;
  height: 16px;
  margin: 2px 0 0 1px;
  background-position: -90px -370px
}

.msg .bull dd {
  font-size: 123%;
  color: #f00
}

.msg .bull a {
  float: left;
  margin-right: 5px
}

.msg dd a, .msg dd em {
  margin-right: 2px
}

.msg dd a em {
  margin: 0;
  font-weight: bold
}

.msg .err dt {
  background-position: -60px -370px
}

.msg .err dd {
  color: #a00
}

.frame {
  border: 1px solid #ccc;
  padding: 6px 5px
}

.msg .arr {
  position: relative;
  _position: static;
  background-position: -137px -365px;
  padding-left: 14px
}

.msg .arr:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #999;
  _border-color: #fff #999;
  border-width: 5px 0 5px 5px;
  _border-width: 6px 0 6px 6px
}

.msg .line dd {
  float: left;
  margin-left: 4px
}

.msg .set {
  float: left;
  padding-top: 5px
}

.msg .set a {
  float: left
}

.msg .arr2 {
  float: left;
  width: 6px;
  height: 8px;
  margin-right: 5px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  text-indent: -9px;
  overflow: hidden
}

.msg .h {
  float: left;
  width: 13px;
  height: 15px;
  background-position: -76px -440px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden
}

.msg .f {
  position: relative
}

.msg .f:before, .msg .f:after {
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  width: 3px;
  height: 3px
}

.msg .f:before {
  top: 3px;
  left: 2px;
  border-right: 1px solid #10337a;
  border-bottom: 1px solid #10337a
}

.msg .f:after {
  top: 8px;
  left: 7px;
  border-left: 1px solid #333;
  border-top: 1px solid #333
}

.msg .f dt {
  background: none;
  *background-position: -54px -440px;
  *background-repeat: no-repeat;
  width: 11px;
  height: 12px;
  margin: 2px 0 0 1px;
  position: relative;
  font-size: 0
}

.msg .f dt:before, .msg .f dt:after {
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-color: #133d90;
  border-style: solid;
  border-width: 0 3px 3px 0
}

.msg .f dt:after {
  top: 4px;
  left: 4px;
  border-width: 3px 0 0 3px
}

.msg .f dd {
  float: left;
  padding-top: 0;
  margin-left: 5px
}

.msg .f dd a {
  float: left
}

#Si1, #Si2 {
  margin: 0 0 15px 6px;
  *zoom: 1
}

#Si1 dt, #Si2 dt {
  position: relative;
  float: left;
  top: 3px;
  left: -1px;
  width: 13px;
  height: 15px;
  background-position: 0 -300px;
  text-indent: -9999px
}

#Si1 dd, #Si2 dd {
  margin-left: 16px;
  line-height: 1.5;
  _text-indent: -3px;
  *zoom: 1
}

#Si1 dd:after, #Si2 dd:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden
}

#Si1 em, #Si2 em {
  font-weight: bold
}

#Si1 a, #Si1 span, #Si2 a, #Si2 span {
  margin-right: 15px;
  float: left;
  *float: none;
  white-space: nowrap;
  *white-space: normal;
  *padding-left: 3px
}

#Sp1 {
  padding: 15px 0 25px;
  *zoom: 1;
  font-size: 123%;
  text-align: center;
  white-space: nowrap;
  _white-space: normal
}

#Sp1.side {
  text-align: left;
  margin-left: 21px
}

#Sp1 strong, #Sp1 a {
  padding: .25em .4em;
  margin: 2px;
  border: 1px solid #ddd;
  zoom: 1;
  white-space: nowrap
}

#Sp1 strong {
  padding-bottom: .2em;
  *padding-bottom: .25em;
  background: #eee;
  *margin-bottom: 2px
}

#Sp1 .m a {
  _padding-bottom: .1em;
  text-decoration: none;
  _height: 1.35em
}

#Sp1 .m a .underLline {
  border-bottom: 1px solid;
  font-weight: bold
}

#Sp1 .arr {
  font-family: Tahoma;
  line-height: 1;
  zoom: 1
}

#Sp1 a:hover {
  border-color: #00d;
  background: #039;
  color: #fff
}

#Sp1 a:hover .arr {
  border-color: #039;
  background: #039;
  color: #fff
}

#Sz {
  margin-bottom: 20px;
  padding-left: 23px
}

#Sz dt {
  float: left;
  margin-right: 10px
}

#Sz em, #Sz a {
  font-weight: bold
}

#Sz dd {
  float: left;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #999;
  white-space: nowrap
}

#Sz .end {
  border: none;
  margin: 0;
  padding: 0
}

#S1aa {
  font-size: 123%;
  margin-top: 20px;
  margin-bottom: 30px
}

#S1aa .t {
  margin-left: 23px;
  margin-bottom: 15px
}

#S1aa ul {
  margin-left: 23px;
  margin-bottom: 20px
}

#S1aa li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 15px;
  margin-bottom: 5px
}

#S1ab {
  font-size: 123%;
  margin-top: 20px;
  margin-bottom: 30px
}

#S1ab .t {
  margin-left: 23px;
  margin-bottom: 15px
}

#S1ab .e {
  margin-left: 23px
}

#S1ab .e a {
  font-weight: bold
}

#S1ac, #S1ak {
  margin: 20px 0 30px 23px;
  font-size: 123%
}

#S1ac em, #S1ak em {
  font-weight: bold
}

.filter, .sort, .view {
  margin-left: 25px;
  line-height: 1.3
}

.filter dt, .sort dt, .view dt {
  float: left;
  margin-right: 2px;
  font-weight: bold
}

.filter dd, .sort dd, .view dd {
  float: left;
  border-right: 1px solid #999;
  padding: 0 5px 0 0;
  margin: 0 5px 0 0;
  color: #aeaeae;
  white-space: nowrap
}

.filter strong, .sort strong, .view strong {
  color: #000
}

.filter .end, .sort .end, .view .end {
  border: none;
  margin: 0;
  padding: 0
}

.filter {
  margin-bottom: 5px
}

.filter dt {
  width: 5em
}

.sort {
  margin-bottom: 10px
}

.sort a {
  float: left
}

.sort .on a {
  font-weight: bold
}

.sort span {
  float: left;
  width: 11px;
  height: 11px;
  overflow: hidden;
  margin-right: 3px;
  margin-top: 2px
}

.sort .ic1 {
  background-position: -15px -370px
}

.sort .ic2 {
  background-position: 0 -370px
}

.view {
  margin-bottom: 10px
}

.view a, .view strong, .view span {
  display: inline;
  float: left
}

.view .ic1, .view .ic2, .view .ic3 {
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin-right: 3px;
  margin-top: 2px;
  background-position: -20px -300px
}

.view .ic2 {
  background-position: -33px -300px
}

.view .ic3 {
  background-position: -46px -300px
}

.view .on {
  color: #000
}

.view .on .ic1 {
  background-position: -70px -300px
}

.view .on .ic2 {
  background-position: -83px -300px
}

.view .on .ic3 {
  background-position: -96px -300px
}

.skin2 #So1, .skin2 #So2 {
  border-color: #fff2fa;
  background-color: #fff2fa
}

.skin2 .ss .u {
  color: #a84a93
}

.skin3 #So1, .skin3 #So2 {
  border-color: #fff4e6;
  background-color: #fff4e6
}

.skin3 .ss .u {
  color: #ba7521
}

.skin4 #So1, .skin4 #So2 {
  border-color: #eefbea;
  background-color: #eefbea
}

.skin5 #So1, .skin5 #So2 {
  border-color: #f6f6f6;
  background-color: #f6f6f6
}

.skin5 .ss .u {
  color: #717171
}

.skin2 #srchAssistOnOff {
  background-color: #ffe0f2
}

.skin3 #srchAssistOnOff {
  background-color: #fff0da
}

.skin4 #srchAssistOnOff {
  background-color: #bdedab
}

.skin5 #srchAssistOnOff {
  background-color: #e6e6e6
}

.skin2 .searchForm .b {
  background-color: #e958c5;
  background-position: 25px -57px
}

.skin2 .searchForm .b:hover {
  background-color: #e22eb6
}

.skin2 #header {
  background-color: #fdfbfb
}

.skin2 #SaA {
  border-color: #fbcaf0
}

.skin2 #SaA-tg strong {
  border-color: #ef64c8
}

.skin3 .searchForm .b {
  background-color: #f06f04;
  background-position: 25px -82px
}

.skin3 .searchForm .b:hover {
  background-color: #e35000
}

.skin3 #header {
  background-color: #fef8f1
}

.skin3 #SaA {
  border-color: #ffbc6d
}

.skin3 #SaA-tg strong {
  border-color: #ff882b
}

.skin4 .searchForm .b {
  background-color: #4ba521;
  background-position: 25px -107px
}

.skin4 .searchForm .b:hover {
  background-color: #418d1d
}

.skin4 #header {
  background-color: #f8fbf4
}

.skin4 #SaA {
  border-color: #9edd80
}

.skin4 #SaA-tg strong {
  border-color: #33880b
}

.skin5 .searchForm .b {
  background-color: #777;
  background-position: 25px -132px
}

.skin5 .searchForm .b:hover {
  background-color: #646464
}

.skin5 #header {
  background-color: #f9f9f9
}

.skin5 #SaA {
  border-color: #ccc
}

.skin5 #SaA-tg strong {
  border-color: #888
}

.skin2 #Sf2 {
  border-bottom: 1px solid #f1d8e9
}

.skin3 #Sf2 {
  border-bottom: 1px solid #ede1d1
}

.skin4 #Sf2 {
  border-bottom: 1px solid #dde9d6
}

.skin5 #Sf2 {
  border-bottom: 1px solid #e7e7e7
}

#SaA .gLnk .open {
  background-color: #eee
}

#SaA .gLnk .json {
  padding-right: 18px;
  position: relative
}

#SaA .gLnk .lnk a.clrCng {
  padding-right: 20px
}

#SaA .gLnk #arr_2 {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 11px;
  right: 2px;
  text-indent: -9999px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-color: #999 transparent;
  _border-color: #999 #f9f9f9;
  border-style: solid;
  border-width: 5px 5px 0 5px
}

#SaA .gLnk .open #arr_2 {
  _border-color: #999 #eee;
  border-width: 0 5px 5px 5px;
  _border-width: 0 6px 6px 6px
}

#SaA .gLnk .cur {
  float: left;
  border: 1px solid #8caeea
}

#SaA .gLnk .cur span {
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #d1defa;
  background-color: #547cc7;
  overflow: hidden;
  text-indent: -9999px
}

#clrMenu {
  position: absolute;
  top: 2em;
  left: 6em;
  padding: 7px 3px 7px 7px;
  border: 1px solid #999;
  border-bottom-color: #444;
  background: #fff none repeat 0 50%;
  z-index: 1
}

.option #clrMenu {
  left: 0
}

#clrMenu.hide {
  display: none
}

#clr {
  display: block;
  margin: 0
}

#clr li {
  float: left;
  margin-right: 5px;
  border-style: solid;
  border-width: 1px
}

#clr li a {
  display: block;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-width: 2px;
  text-indent: -9999px;
  overflow: hidden
}

#clr #clr5 {
  margin-right: 4px
}

#clr1 {
  border-color: #8caeea
}

#clr1 a {
  background-color: #d1defa;
  border-color: #d1defa
}

#clr2 {
  border-color: #e398c9
}

#clr2 a {
  border-color: #f3d0e7;
  background-color: #f3d0e7
}

#clr3 {
  border-color: #f1a348
}

#clr3 a {
  border-color: #ffdda8;
  background-color: #ffdda8
}

#clr4 {
  border-color: #8bbe49
}

#clr4 a {
  border-color: #c8ea9a;
  background-color: #c8ea9a
}

#clr5 {
  border-color: #a8a8a8
}

#clr5 a {
  border-color: #dedede;
  background-color: #dedede
}

#clr1 .on, #clr1 a:hover {
  background-color: #547cc7
}

#clr2 .on, #clr2 a:hover {
  background-color: #dc68b2
}

#clr3 .on, #clr3 a:hover {
  background-color: #e98106
}

#clr4 .on, #clr4 a:hover {
  background-color: #529421
}

#clr5 .on, #clr5 a:hover {
  background-color: #888
}

.skin2 #SaA .gLnk .cur {
  border: 1px solid #e398c9
}

.skin2 #SaA .gLnk .cur span {
  border: 2px solid #f3d0e7;
  background-color: #dc68b2
}

.skin3 #SaA .gLnk .cur {
  border: 1px solid #f1a348
}

.skin3 #SaA .gLnk .cur span {
  border: 2px solid #ffdda8;
  background-color: #e98106
}

.skin4 #SaA .gLnk .cur {
  border: 1px solid #8bbe49
}

.skin4 #SaA .gLnk .cur span {
  border: 2px solid #c8ea9a;
  background-color: #529421
}

.skin5 #SaA .gLnk .cur {
  border: 1px solid #a8a8a8
}

.skin5 #SaA .gLnk .cur span {
  border: 2px solid #dedede;
  background-color: #888
}

@media print {
  #ygps {
    display: none
  }
  * {
    background: transparent!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
    -webkit-filter: none!important;
    filter: none!important
  }
}

#Sq {
  margin-bottom: 20px;
  _position: relative
}

#Sq .inner {
  position: relative;
  padding: 0 0 10px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f9f9f9
}

#SqC {
  margin-top: 10px;
  margin-left: 33px;
  position: relative
}

#SqC fieldset {
  display: block;
  position: relative
}

#SqA {
  margin-bottom: 5px;
  color: #666;
  text-align: center
}

#SqA a {
  color: #0e1bbb
}

#SqB {
  padding: 0 0 20px;
  text-align: center;
  color: #666
}

#SqD {
  margin-bottom: 20px;
  text-align: center
}

#S1ae {
  margin: 0 auto 15px;
  width: 20em;
  text-align: center;
  clear: both
}

#S1ae div {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #e7e7e7;
  background: #f9f9f9
}

#S1ae dl {
  font-size: 14px
}

#S1ae dt {
  display: inline;
  padding-right: .2em
}

#S1ae dd {
  display: inline;
  line-height: 1.2em
}

#S1ae dd span {
  font-weight: bold
}

#S1ae dd span:before {
  font-weight: normal;
  content: "｜"
}

#footer.option {
  width: 950px;
  margin: 0 auto;
  padding-top: 10px;
  border-top: 1px solid #e7e7e7
}

#AOm {
  width: 750px;
  margin: 0 auto 30px auto
}

#AOm .tb {
  width: 710px;
  padding: 0 20px;
  border-bottom: 1px solid #f1c43d;
  margin-bottom: 10px;
  display: block;
  clear: both
}

#AOm .tb p {
  width: auto;
  border: 1px solid #f1c43d;
  background-color: #fff9dc;
  margin-right: 10px;
  text-align: center;
  white-space: nowrap;
  display: block;
  float: left;
  margin-bottom: -1px
}

#AOm .tb p a {
  padding: 6px 20px;
  text-decoration: none;
  display: block;
  _float: left
}

#AOm .tb p a:hover {
  text-decoration: underline
}

#AOm .tb .o {
  padding: 6px 20px;
  background-color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #fff
}

#AOm .top {
  margin-bottom: 10px;
  padding-top: 10px
}

#AOm .top h2.t1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold
}

#AOm .top a, #AOm .tr0 a {
  display: inline-block;
  width: 13px;
  height: 14px;
  vertical-align: top;
  margin-left: 4px;
  cursor: pointer
}

#AOm .top a span, #AOm .tr0 a span {
  display: block;
  width: 13px;
  height: 14px;
  background: url(https://s.yimg.jp/images/serp/as/sp_as2.png) no-repeat -17px -101px;
  text-indent: -9999em;
  overflow: hidden
}

#AOm .e2 {
  margin-bottom: 10px
}

#AOm table {
  width: 750px
}

#AOm .sb {
  text-align: right;
  margin: 10px 0 20px 0
}

#AOm .b {
  width: 6.4em;
  margin-left: 10px
}

#AOm th, #AOm td {
  border: 1px solid #ccc
}

#AOm .t2 {
  width: 180px;
  padding: 10px;
  background-color: #f5f5f5;
  text-align: right;
  vertical-align: top
}

#AOm .a {
  padding: 10px
}

#AOm .ic {
  color: #124895;
  margin-right: 5px
}

#AOm .a .stype {
  margin: 0 0 10px 0;
  
}

#AOm .stype input {
  width: 300px
}

#AOm input[type=search] {
  -webkit-appearance: textfield
}

#AOm input[type=text] {
  width: 180px
}

#AOm input[type=radio], #AOm input[type=checkbox] {
  display: inline;
  margin-right: 5px;
  margin-top: .15em;
  padding: 0;
  vertical-align: top
}

#AOm label {
  cursor: pointer
}

#AOm .a .l {
  clear: both;
  padding-bottom: 10px
}

#AOm .tr0 .a dt {
  display: none
}

#AOm .tr0 .a .stype span {
  display: none
}

.data-win-ie-60 #AOm .tr0 .a .stype span, .data-win-ie-70 #AOm .tr0 .a .stype span, .data-win-ie-80 #AOm .tr0 .a .stype span, .data-win-ie-90 #AOm .tr0 .a .stype span {
  display: block
}

#AOm .tr0 .a dd label {
  margin-right: 10px
}

#AOm .tr0 .a dd a {
  margin-left: -5px
}

#AOm .tr1 .a ul {
  display: block;
  float: left;
  width: 195px;
  margin: 0;
  padding-right: 5px
}

#AOm .tr1 .a ul li {
  display: block;
  float: left;
  width: 195px;
  margin-bottom: 3px
}

#AOm .tr1 .a p {
  padding: 3px 0 3px 18px
}

#AOm .tr1 .a em {
  font-weight: bold
}

#AOm .ac {
  padding-bottom: 10px
}

#AOm .can {
  margin-left: 10px
}

#AOm .imgc {
  width: 350px;
  *padding-bottom: 10px
}

#AOm .imgc li {
  position: relative;
  top: -5px;
  float: left;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 6px 6px 20px;
  padding: 0;
  *width: 22px;
  *height: 22px;
  *border: 1px solid #ddd;
  _display: inline
}

html:not(:target) #AOm .imgc li {
  top: 0;
  margin: 6px 6px 15px
}

#AOm .imgc p {
  float: left;
  border: 1px solid #ddd
}

#AOm .imgc li label {
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  outline: 1px solid #ddd
}

#AOm .imgc li label span {
  display: none;
  position: absolute;
  top: -35px;
  left: -19px;
  width: 63px;
  height: 30px;
  color: #333;
  text-align: center;
  line-height: 26px;
  font-size: 85%;
  background: url(https://s.yimg.jp/images/serp/as/bl.png) 0 0 no-repeat
}

#AOm .imgc li label:hover span {
  display: block;
  z-index: 4
}

#AOm .imgc li input {
  display: block;
  position: absolute;
  top: 25px;
  left: 4px;
  vertical-align: middle;
  width: 1em;
  height: 1em
}

html:not(:target) #AOm .imgc li input {
  display: none;
  position: static;
  top: 0;
  left: 0
}

#AOm .imgc li input[type="radio"]:checked+label {
  position: absolute;
  top: -4px;
  left: -4px;
  display: block;
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  outline: none
}

#AOm .imgc li input[type="radio"]:checked+label span {
  top: -34px;
  left: -18px
}

#AOm .imgc li input[type="radio"]:checked+label:after {
  display: block;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: -6px;
  left: -6px;
  padding: 3px;
  border: 3px solid #999;
  z-index: 2
}

#AOm .imgc .no label, #AOm .imgc .go label, #AOm .imgc .si label, #AOm .imgc .mu label {
  background-image: url(https://s.yimg.jp/images/serp/as/spc_s.png);
  background-repeat: no-repeat
}

#AOm .imgc .no input[type="radio"]:checked+label, #AOm .imgc .go input[type="radio"]:checked+label, #AOm .imgc .si input[type="radio"]:checked+label, #AOm .imgc .mu input[type="radio"]:checked+label {
  background-image: url(https://s.yimg.jp/images/serp/as/spc_s.png);
  background-repeat: no-repeat
}

#AOm .imgc .no label {
  background-position: 0 0
}

#AOm .imgc .wh label {
  background: #fff
}

#AOm .imgc .bla label {
  background: #000
}

#AOm .imgc .gra label {
  background: #808080
}

#AOm .imgc .ba label {
  background: #f0f0d3
}

#AOm .imgc .br label {
  background: #663f24
}

#AOm .imgc .re label {
  background: #e51717
}

#AOm .imgc .pi label {
  background: #ff8cc6
}

#AOm .imgc .pu label {
  background: #7f1a80
}

#AOm .imgc .na label {
  background: #131380
}

#AOm .imgc .blu label {
  background: #2626ff
}

#AOm .imgc .aq label {
  background: #1fe3f5
}

#AOm .imgc .gre label {
  background: #0e8c0e
}

#AOm .imgc .kh label {
  background: #bdb76b
}

#AOm .imgc .ye label {
  background: #fff200
}

#AOm .imgc .or label {
  background: #ffa500
}

#AOm .imgc .go label {
  background-position: 0 -30px
}

#AOm .imgc .go input[type="radio"]:checked+label {
  background-position: 0 -54px
}

#AOm .imgc .si label {
  background-position: 0 -84px
}

#AOm .imgc .si input[type="radio"]:checked+label {
  background-position: 0 -108px
}

#AOm .imgc .mu label {
  background-position: 0 -138px
}

#AOm .imgc .mu input[type="radio"]:checked+label {
  background-position: 0 -162px
}

#AOm .decTx03 {
  padding: 0 0 10px;
  font-size: 90%
}

#AOm .tr2 input {
  display: inline-block;
  margin-right: 6px
}

#AOm .tr2 span {
  width: auto;
  vertical-align: top;
  margin-top: .15em;
  *margin-top: .2em;
  display: inline-block
}

#AOm .tr3 .a ul {
  width: 95px;
  padding-right: 5px;
  margin: 0;
  display: block;
  float: left
}

#AOm .tr3 .a ul li {
  width: 95px;
  margin-bottom: 3px;
  display: block;
  float: left
}

#AOm .tr4 .a p {
  display: inline-block;
  margin-right: 10px
}

#AOm .tr5 .a div p, #AOm .tr6 .a div p, #AOm .tr7 .a div p {
  display: inline-block;
  padding: 5px 0
}

#AOm .tr5 .a div p input, #AOm .tr6 .a div p input, #AOm .tr7 .a div p input {
  position: relative;
  vertical-align: middle;
  top: -2px
}

#AOm .tr5 .a div p span, #AOm .tr6 .a div p span, #AOm .tr7 .a div p span {
  margin-right: 3px;
  vertical-align: middle
}

#AOm .tr5 .a div p {
  width: 30%
}

#AOm .tr5 .a div p.convenience {
  width: 60%
}

#AOm .tr5 .a div p.convenience span {
  font-size: 87.5%;
  color: #908d88
}

#AOm .tr6 .a div p {
  width: 23%
}

#AOm .tr7 .a div p {
  white-space: nowrap;
  margin-right: 10px
}

#AOm .tr5 .pic4 {
  display: inline-block
}

.ASic .cic1, .ASic .cic2, .ASic .cic3, .ASic .cic4, .ASic .cic5, .ASic .cic6, .ASic .cic7, .ASic .cic8, .ASic .cic9, .ASic .cic10, .ASic .sic1, .ASic .sic2, .ASic .sic3, .ASic .sic4, .ASic .sic5, .ASic .sic6, .ASic .eic1, .ASic .eic2, .ASic .eic3, .ASic .eic4, .ASic .eic5, .ASic .pic1, .ASic .pic2, .ASic .pic3, .ASic .pic3-v2, .ASic .pic5, .zero .cic1, .zero .pic4 {
  height: 16px;
  background: url(https://s.yimg.jp/images/serp/as/ic_2.png) no-repeat;
  display: inline-block;
  text-indent: -10000em;
  overflow: hidden;
  margin: 0
}

.ASic .pic3-v2 {
  background: url(https://s.yimg.jp/images/serp/s/sp_s_4.png) no-repeat
}

.ASic .cic1, .ASic .cic2, .ASic .cic3, .ASic .cic4, .ASic .cic5, .ASic .cic6, .ASic .cic7, .ASic .cic8, .zero .cic1 {
  width: 60px
}

.ASic .cic1, .zero .cic1 {
  background-position: 0 -414px
}

.ASic .cic2 {
  background-position: 0 -450px
}

.ASic .cic3 {
  background-position: 0 -486px
}

.ASic .cic4 {
  background-position: 0 -522px
}

.ASic .cic5 {
  background-position: 0 -558px
}

.ASic .cic6 {
  background-position: 0 -594px
}

.ASic .cic7 {
  background-position: 0 -630px
}

.ASic .cic8 {
  background-position: 0 -666px
}

.ASic .cic9, .ASic .cic10 {
  width: 70px
}

.ASic .cic9 {
  background-position: 0 -866px
}

.ASic .cic10 {
  background-position: 0 -902px
}

.ASic .sic1 {
  width: 28px;
  background-position: 0 -105px
}

.ASic .sic2 {
  width: 16px;
  background-position: 0 -379px
}

.ASic .sic3 {
  width: 40px;
  background-position: 0 -343px
}

.ASic .sic4 {
  width: 12px;
  background-position: 0 -203px
}

.ASic .sic5 {
  width: 16px;
  background-position: 0 -237px
}

.ASic .sic6 {
  width: 16px;
  background-position: 0 -272px
}

.ASic .eic1 {
  position: relative;
  top: 3px;
  width: 59px;
  background-position: 0 -307px;
  margin-right: 5px
}

.ASic .eic2 {
  width: 72px;
  height: 24px;
  background-position: 0 -700px
}

.ASic .eic3 {
  width: 87px;
  height: 24px;
  background-position: 0 -742px
}

.ASic .eic4 {
  width: 101px;
  height: 24px;
  background-position: 0 -784px
}

.ASic .eic5 {
  width: 81px;
  height: 19px;
  background-position: 0 -827px
}

.ASic .pic1, .ASic .pic2, .ASic .pic3, .ASic .pic3-v2, .ASic .pic5 {
  margin-bottom: 1px
}

.ASic .pic1 {
  width: 16px;
  background-position: 0 -36px
}

.ASic .pic2 {
  width: 16px;
  background-position: 0 -169px
}

.ASic .pic3 {
  width: 16px;
  background-position: 0 -72px
}

.ASic .pic3-v2 {
  width: 16px;
  background-position: -92px -440px
}

.ASic .pic5 {
  width: 61px;
  background-position: 0 0
}

#ASt li {
  padding: 0 6px 3px 0;
  text-align: left;
  float: left
}

#AS1m3 div.inner div.bd div.a p span.pic3 {
  width: 16px;
  background-position: 0 -72px;
  *display: block;
  vertical-align: bottom;
  margin: 0 5px 0 0;
  padding: 0;
  *vertical-align: baseline;
  *float: left
}

#AS1m3 div.inner div.bd div.a p span.pic3-v2 {
  *display: block;
  vertical-align: bottom;
  margin: 0 5px 0 0;
  padding: 0;
  *vertical-align: baseline;
  *float: left
}

#AS1m3 div.inner div.bd div.a p span.cic1 {
  vertical-align: bottom;
  *height: 0;
  *padding-top: 16px;
  *text-indent: 0;
  *margin-top: 0;
  *margin-bottom: 0
}

#AS1m3 div.inner div.bd div.a p span.pic4 {
  vertical-align: bottom
}

.zero .pic4 {
  background-position: 0 -137px;
  width: 20px
}

.icMasBro, .icMasSil, .icMasGld, .icMasDia {
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  overflow: hidden
}

.icMasBro span, .icMasSil span, .icMasGld span, .icMasDia span {
  display: inline-block;
  text-indent: -9999px
}

.icMasBro {
  width: 11px;
  height: 17px;
  background: url(https://s.yimg.jp/images/serp/as/ic_2004.gif) no-repeat
}

.icMasSil {
  width: 22px;
  height: 17px;
  background: url(https://s.yimg.jp/images/serp/as/ic_2003.gif) no-repeat
}

.icMasGld {
  width: 33px;
  height: 17px;
  background: url(https://s.yimg.jp/images/serp/as/ic_2002.gif) no-repeat
}

.icMasDia {
  width: 28px;
  height: 17px;
  background: url(https://s.yimg.jp/images/serp/as/ic_2001.gif) no-repeat
}

.ic_beststore {
  display: inline-block;
  width: 14px;
  height: 16px;
  background: url(https://s.yimg.jp/images/serp/as/ic_bs.png) no-repeat 0 0;
  background-size: 14px 16px;
  overflow: hidden;
  vertical-align: middle
}

:root *>.ic_beststore {
  background-image: url(https://s.yimg.jp/images/serp/as/ic_bsx2.png)
}

.ic_beststore span {
  display: inline-block;
  text-indent: -9999px
}

#AS1m1 .b, #AS1m3 .b {
  z-index: 0
}

#AS1m1 .b.unwt, #AS1m3 .b.unwt {
  border: 1px solid #CCC;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EFEFEF));
  background-image: linear-gradient(#FEFEFE, #EFEFEF)
}

#AS1m1 .b.unwt:hover, #AS1m3 .b.unwt:hover {
  background-color: #F7F7F7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#EFEFEF));
  background-image: linear-gradient(#F7F7F7, #EFEFEF)
}

#AS1m1 .b.wting, #AS1m3 .b.wting, #AS1m1 .b.wted, #AS1m3 .b.wted {
  border: 1px solid #DDD;
  background-color: #EEE;
  background-image: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-animation-name: "crossfade";
  -webkit-animation-duration: .1s;
  -webkit-animation-timing-function: linear
}

#AS1m1 .b {
  width: 50px;
  height: 25px
}

#AS1m3 .b {
  width: 46px;
  height: 25px
}

#AS1m1 .b:before, #AS1m3 .b:before {
  position: absolute;
  content: "★";
  font-size: 16px
}

#AS1m1 .b.unwt:before, #AS1m3 .b.unwt:before {
  color: #F0B500
}

#AS1m1 .b.wting:before, #AS1m3 .b.wting:before, #AS1m1 .b.wted:before, #AS1m3 .b.wted:before {
  color: #CCC
}

#AS1m1 .b:before, #AS1m1 .b:before {
  top: 0;
  left: 3px
}

#AS1m3 .b:before, #AS1m3 .b:before {
  top: 0;
  left: 3px
}

#AS1m1 .b:after, #AS1m3 .b:after {
  position: absolute;
  content: "☆";
  font-size: 16px
}

#AS1m1 .b.unwt:after, #AS1m3 .b.unwt:after {
  color: #F8C824
}

#AS1m1 .b.wting:after, #AS1m3 .b.wting:after, #AS1m1 .b.wted:after, #AS1m3 .b.wted:after {
  color: #BBB
}

#AS1m1 .b:after, #AS1m1 .b:after {
  top: 0;
  left: 3px
}

#AS1m3 .b:after, #AS1m3 .b:after {
  top: 0;
  left: 3px
}

#AS1m1 .b, #AS1m3 .b {
  display: block;
  padding-left: 21px;
  font-size: 11px;
  line-height: 26px
}

.data-win-ie-60 #AS1m1 .b, .data-win-ie-60 #AS1m3 .b, .data-win-ie-70 #AS1m1 .b, .data-win-ie-70 #AS1m3 .b {
  padding-left: 0;
  text-align: center
}

#AS1m1 .unwt, #AS1m3 .unwt {
  color: #333;
  text-decoration: none
}

.data-win-ie-60 #AS1m1 .unwt, .data-win-ie-60 #AS1m3 .unwt, .data-win-ie-70 #AS1m1 .unwt, .data-win-ie-70 #AS1m3 .unwt {
  color: #0000DE;
  text-decoration: underline
}

#AS1m1 .wting, #AS1m3 .wting, #AS1m1 .wted, #AS1m3 .wted {
  color: #B4B4B4
}

#AS1m1 .b:visited, #AS1m3 .b:visited {
  color: #333
}

#ASj .h, #nv2 .h {
  background-image: url(https://s.yimg.jp/images/serp/c/ic_all.png)
}

#ASj .h, #nv2 .h {
  display: inline-block;
  *position: relative;
  *top: -10px;
  *display: inline;
  *zoom: 1;
  width: 12px;
  height: 14px;
  background-position: -71px -64px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden
}

#AS1m1 .sinfbtm {
  padding: 5px 0 3px 0
}

#AS1m3 .sinfbtm {
  position: absolute;
  bottom: 7px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 5px 0 0;
  margin: 0 auto;
  width: 100%
}

.data-win-ie-60 #AS1m3 .sinfbtm, .data-win-ie-70 #AS1m3 .sinfbtm, .data-win-ie-80 #AS1m3 .sinfbtm {
  width: 90%
}

.sinfbtm a {
  display: block;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 4px 0 4px 4px;
  font-size: 11px;
  letter-spacing: -0.02em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%
}

.sinfbtm a:hover {
  text-decoration: underline;
  background: #f7f7f7
}

.ASic .pic4 {
  width: 50px;
  height: 16px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #FFE3E9;
  line-height: 16px;
  text-align: center;
  font-size: 11px;
  font-weight: normal
}

.ASic .icWholesale {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(https://s.yimg.jp/images/serp/s/sp_s_4.png) no-repeat -92px -440px;
  text-align: center;
  text-indent: -10000em
}

.ASic .icCombine {
  width: 50px;
  height: 16px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #FFF;
  line-height: 16px;
  text-align: center;
  font-size: 11px;
  font-weight: normal
}

.ASic .icSekaimon {
  display: inline-block;
  position: relative;
  top: -2px;
  left: -3px;
  width: 60px;
  height: 16px;
  margin-right: .25em;
  overflow: hidden;
  background: url(https://s.yimg.jp/images/auct/template/ui/iphone/images/2_1_1/sekaimon_sp.png) no-repeat;
  background-size: auto 16px;
  text-indent: -10000em;
  vertical-align: middle
}

.data-win-ie-80 .ASic .icSekaimon {
  background: url(https://s.yimg.jp/images/auc/pc/item/image/1.0.0/ic_sekaimon.png)
}

body {
  font-family: "メイリオ", "Hiragino Kaku Gothic Pro", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif
}

#Sf2 .inner {
  background-color: inherit
}
